@model IEnumerable<LibraryManagmentSystem.Application.DTOs.BookDto>

@{
    ViewData["Title"] = "Books List";
}



<h1>Books List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>
                                <a asp-controller="BookDto" asp-action="GetBookById" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                                <a asp-controller="BookDto" asp-action="UpdateBook" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="BookDto" asp-action="DeleteBook" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
        }
    </tbody>
</table>

<a asp-controller="Book" asp-action="CreateBook" class="btn btn-primary">Create New Book</a>
